<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        {% endblock %}
        <meta charset="UTF-8" />
    </head>
    <body>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% block fos_login_content %}
                {% endblock fos_login_content %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
                {% block hecommerce_breadcrumb %}
                {% endblock hecommerce_breadcrumb %}
                {% block hecommerce_content %}
                {% endblock hecommerce_content %}
            </div>
        </div>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
