{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h1>{{ 'hecommerce.paymentmethod.create'|trans({}, 'management') }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('hecommerce_paymentmethod') }}">
            {{ 'hecommerce.management.backtothelist'|trans({}, 'management') }}
        </a>
    </li>
</ul>

{% endblock hecommerce_content %}
