/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.idea/HeadooEcommerceBundle-sample.iml

.idea/.name

.idea/deployment.xml

.idea/misc.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/vagrant.xml

.idea/symfony2.xml

.idea/modules.xml
