imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    hecommerce.routing.locales: |en|fr
    hecommerce.form.locales: [en, fr]

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:                  "%kernel.debug%"
    strict_variables:       "%kernel.debug%"
    form:
        resources:          ['bootstrap_3_layout.html.twig']

services:
    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

a2lix_translation_form:
    locales: %hecommerce.form.locales%
    default_locale: %locale%

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:
        - AppBundle
        - HeadooEcommerceBundle
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        #entity_managers:
            #default:
                #connection:       default
                #mappings:
                    #HeadooEcommerceBundle: ~
                    #HeadooCoreBundle: ~
                    #HeadooPaymentBundle: ~
                    #HeadooContactBundle: ~
                    #HeadooUtilityBundle: ~

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# Payum Configuration
payum:
    security:
        token_storage:
            Headoo\EcommerceBundle\Entity\PaymentToken: { doctrine: orm }
    storages:
        Headoo\EcommerceBundle\Entity\Payment: { doctrine: orm }
    gateways:
        offline:
            offline: ~
        stripe:
            stripe_js:
                publishable_key: 'pk_test_4Q9rtBp4oHp8fm3k6K0TvvCX'
                secret_key: 'sk_test_4Q9rY8Ner7F2h6Tyanliz3II'

fos_user:
    db_driver:      orm
    firewall_name:  main
    user_class:     Headoo\EcommerceBundle\Entity\User
    registration:
        form:
            type:   hecommerce_user_registration
    profile:
        form:
            type:   hecommerce_user_profile

# Ecommerce Configuration
headoo_ecommerce:
    customergroup:
        entity: Headoo\EcommerceBundle\Entity\CustomerGroup
    service:
        entity: Headoo\EcommerceBundle\Entity\Service
    servicerange:
        entity: Headoo\EcommerceBundle\Entity\ServiceRange
    pricecurrency:
        entity: Headoo\EcommerceBundle\Entity\PriceCurrency
    paymentmethod:
        entity: Headoo\EcommerceBundle\Entity\PaymentMethod
    ordereditem:
        entity: Headoo\EcommerceBundle\Entity\OrderedItem
    order:
        entity: Headoo\EcommerceBundle\Entity\Order
    confirmationemail:
        entity: Headoo\EcommerceBundle\Entity\ConfirmationEmail
    breadcrumb:
        home:   app_index
    store:
        email_sender: ana@headoo.com

