{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h4>{{ 'hecommerce.store.thankyou'|trans({}, 'store') }}</h4>
    
    <a class="btn btn-default" href="{{ path('hecommerce_store_buy') }}">{{ 'hecommerce.store.backtostore'|trans({}, 'store') }}</a>

{% endblock hecommerce_content %}
