{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h4>{{ 'hecommerce.customergroup.create'|trans({}, 'management') }}</h4>

    {{ form(form) }}

    <a class="btn btn-default" href="{{ path('hecommerce_customergroup') }}">
        {{ 'hecommerce.management.back'|trans({}, 'management') }}
    </a>

{% endblock hecommerce_content %}
